@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.inter-primary {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

/* header section design */
#hero{
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    width: 90%;
    height: 575px;
    border-radius: 10px;
    background-size: cover;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-primary{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-secondary{
    font-size: 65px;
    font-weight: 900;
    line-height: 90px;
}